<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.photowey.mybatisplus.ext.meta.repository.EmployeeRepository">

    <select id="selectDeletedOne" parameterType="Long" resultType="Employee">
        SELECT id,
               employee_no,
               org_id,
               org_name,
               order_no,
               status,
               remark,
               update_time,
               update_time,
               create_by,
               update_by,
               deleted
        FROM sys_employee
        WHERE DELETED = 1
          AND id = #{id}
    </select>

</mapper>